<!DOCTYPE html>
  <html>
    <head>
      <title>Smalltime CRM</title>

      <!-- Bootstrap: Latest compiled and minified CSS -->
      <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="stylesheets/access.css">
    </head>
    <body>
	<h1>Hello <%= user._id %></h1>
	<br><br>
	<a href="/logout">Sign out</a>
    </body>
  </html>
